body {
	
}

#banner {
	width:100%;
}

.principal{
	background: dimgrey;
	padding: 30px;
}

.titulo-principal {
	background: lightgrey;
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
    font-size: 40px;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #f3f5d0;
}

.itens {
	font-style: italic;
    font-size: 25px;
    font-family: Calibri;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

.btn_btn-primary {
	color: blue;
}

.btn_btn-secondary{
	color: green;
}

.btn_btn-success{
	color: red;
}
